language: python
python:
  - "3.6"
cache: pip
addons:
  apt:
    packages:
    - gdal-bin
    - libgdal-dev
install:
  - pip install -r requirements.txt
script:
  - py.test --cov-report term-missing --cov app -v